NEXT_PUBLIC_INSTAGRAM_URL="https://www.instagram.com/your_username"
NEXT_PUBLIC_SITE_URL="https://your-site-url.com"
ALLOWED_DEV_ORIGINS="192.168.x.x, 192.168.y.y" # Comma-separated list of IPs
NEXT_PUBLIC_GA_ID="G-12345678" # Google Analytics ID