.insta { background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); }
.indigoPink { background: linear-gradient(to bottom right, #4f46e5, #ec4899); }
.cyanBlue { background: linear-gradient(to bottom right, #06b6d4, #3b82f6); }
.amberRed { background: linear-gradient(to bottom right, #f59e0b, #ef4444); }
.violetFuchsia { background: linear-gradient(to bottom right, #8b5cf6, #d946ef); }

.storyCardContainer {
    mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
}

@media (max-width: 640px) {
    .storyCardContainer {
        mask-image: none;
    }
}
